<h1>Se connecter </h1>
	<div class="w3ls-login box box--big">
		<form action="#" method="post">
			<div class="agile-field-txt">
				<label> Mail/Identifiant</label>
				<input type="text" name="name" placeholder="Entrer mail ou identifiant" required="" />
			</div>
			<div class="agile-field-txt">
				<label> Mot de passe</label>
				<input type="password" name="password" placeholder="Entrer mot de passe" required="" id="myInput" />
			</div>
			
				<input type="submit" value="SE CONNECTER">
		</form>
	</div>
	
	<div class="copy-wthree">
		<p>© 2018 Projet S5 | Gestion des stocks
		</p>
	</div>